<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507884686856-j7psgbjnkhfrnuam61urhh6q516e41ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507884686856-j7psgbjnkhfrnuam61urhh6q516e41ea</string>
	<key>API_KEY</key>
	<string>AIzaSyB6VfWSjciDPcC5Z6pO8B9H3bp5LH5r43Y</string>
	<key>GCM_SENDER_ID</key>
	<string>507884686856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>hello-flutter-001</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-flutter-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507884686856:ios:12e6193f4b23774525cbbd</string>
</dict>
</plist>